.text-analyzer-main-box {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #BBDEFB;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-analyzer-frame {
  width: 500px;
  height: 300px;
  background-color: #ffffff;
  position: relative;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-analyzer-interior-frame {
  width: 400px;
  height: 200px;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-analyzer-right-bottom-button {
  color: #333;
  position: absolute;
  background-color: #f5f7f9;
  right: 0;
  bottom: 0;
}

.text-analyzer-left-bottom-button {
  color: #333;
  position: absolute;
  background-color: #f5f7f9;
  left: 0;
  bottom: 0;
}

.text-analyzer-text-header {
  display: flex;
  position: absolute;
  top: 0;
  font-size: 30px;
}

.react-bootstrap-btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  border-color: #ccc;
  border-radius: 4px;
}